@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
